body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 30%;
    height: 30vh;
    margin: auto;
    position: relative;
    top: var(50% - 15vh);
    border: 2px gray solid ;
    border-radius: 10px;
    padding: 20px;
}